<a href="https://colab.research.google.com/github/SHAGGY670/ongoing/blob/master/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]
type(a)

list

In [2]:
# print the value of a

print(a)

[]

In [4]:
# print the type of a
type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [36]:
#code here

languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [6]:
#code here
len(languages)

5

Using for loop iterate and print all the elements in the list

In [7]:
#code here
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [9]:
#code here
temp=languages[1]

Print the value of temp and type(temp)

In [10]:
#code here
print(temp)
type(temp)

Python

str

Using list comprehension, print the last two elemets of list

In [24]:
# code here
print(languages[-2],languages[-1])

Scala 42

Append the element 'Java' in the list

In [37]:
#code here
languages.append("java")
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'java']

Remove the element 42 from the list and print the list

In [39]:
#code here
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [59]:
#code here
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [42]:
#code here
colors.append("black")

Append the color 'Orange' to second position (index=1) and print the list

In [60]:
# code here
colors.insert(1,"orange")

Print the list

In [45]:
# code here
print(colors)

['Red', 'orange', 'Blue', 'White', 'black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [61]:
# code here
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [62]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [63]:
# code here
print(colors)

['Red', 'orange', 'Blue', 'White', 'Grey', 'Sky Blue']

Sort the list and print it.

In [65]:
# code here
colors.sort()
print(colors)

['Blue', 'Grey', 'Red', 'Sky Blue', 'White', 'orange']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [2]:
# code here
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [71]:
# code here
sent.split()

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [3]:
# code here
sent=sent.lower()
sent.split()

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [79]:
# code here
xx='country'
xx in sent

False

Remove the element ‘the’ from the list and print the list.

In [83]:
# code here
sent.replace("the",)

'coronavirus caused lockdowns around  world.'

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [8]:
#code here
x4=sent[:-6]

In [9]:
# print x4
print(x4)

coronavirus caused lockdowns around the

Convert the list of elements to single string using join function and print it

In [ ]:
#code here

'coronavirus caused lockdowns around'

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [11]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [12]:
#code here
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [19]:
#code here
stud_grades_set=set(stud_grades)

Print stud_grades_set.

In [20]:
#code here
print(stud_grades_set)

{'F', 'A', 'B', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [21]:
#code here
print(type(stud_grades))
print(type(stud_grades_set))

<class 'list'>
<class 'set'>

Add a new element ‘G’ to stud_grades_set

In [23]:
#code here
stud_grades_set.add('G')
print(stud_grades_set)

{'F', 'C', 'G', 'A', 'B'}

Add element 'F' to stud_grades_set. and print it.

In [25]:
#code here
stud_grades_set.add('F')
print(stud_grades_set)

{'F', 'C', 'G', 'A', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [26]:
#code here

stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [27]:
print(stud_grades_set)
len(stud_grades_set)

{'C', 'G', 'A', 'B'}

4

In [ ]:
#code here

{'G', 'A', 'B', 'C'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [28]:
#code here

colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [29]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [31]:
#code here

colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'blue', 'red', 'orange'}
{'grapes', 'apples', 'orange'}

Find the union of both the sets.

In [37]:
#code here
print(colors_set.union(fruits_set))

{'blue', 'red', 'apples', 'grapes', 'orange'}

Find the intersection of both the sets

In [38]:
#code here
print({element for element in colors_set if element in fruits_set})

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [42]:
#code here
print({element for element in fruits_set if element not in colors_set})

{'grapes', 'apples'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [44]:
#code here


temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [45]:
#code here
for i in range(len(temp)):
  print(temp[i])

17
Virat
50.0

replace first element with 11 in temp

In [46]:
#code here
temp[0]=11

Set temp1 = tuple(temp)

In [47]:
#code here
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [48]:
#code here

for i in range(len(temp1)):
  print(temp1[i])

11
Virat
50.0

replace first element with 17 in temp1

In [49]:
#code here
temp1[0]=17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [50]:
#code here

city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [53]:
#code here

print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [54]:
#code here

city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [58]:
#code here

cities=city+city2

Print cities

In [59]:
#code here

print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [62]:
#code here

print(cities[0])

Bangalore

print the type of cities

In [61]:
#code here
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [63]:
#code here

d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [64]:
#code here
print(d[0])

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [66]:
#code here
actor=d['actor']

Print the type of actor

In [67]:
#code here

print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [68]:
#code here
l=d['list']

Print the type of l.

In [69]:
#code here

print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [70]:
#code here
d1 = {'singer':'Kr$na','album':'Still here','genre':'hip-hop'}

Merge d1 into d.

In [72]:
#code here
d.update(d1)

print d

In [73]:
#code here

print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [74]:
#code here
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [75]:
#code here
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [76]:
#code here

for key in d:
  print(key,"->",d[key])

actor -> amir
animal -> cat
earth -> 2
list -> [23, 32, 12]
singer -> Kr$na
album -> Still here
genre -> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [77]:
#code here
 
print(sent)

coronavirus caused lockdowns around the world.

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N