<a href="https://colab.research.google.com/github/SHAGGY670/ongoing/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center><u> Python basics</u></center>
![image.png](attachment:image.png)

Python is emerging as the popular language used more in data science applications.

Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.

## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [1]:
# declare two variables, a = 5, b = 'city'
a=5
b='city'

In [2]:
# print type of a
type(a)

int

In [3]:
# print type of b
type(b)

str

In [4]:
# swap the values of a and b
t=a
a=b
b=t

In [5]:
# run this to confirm 
print(a)
print(b)

city
5

Cool! so variable declaration and getting it's type was easy.

## Arithmetic Operations

Hey novice! this will be easy for you until you know basic arithmetic symbols like +, -, /, * etc.

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [6]:
# declare two variables, a = 24, b = 3

a=24
b=3
print(('a={},b={}').format(a,b))

a=24,b=3

In [7]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(pow(a,b))

27
21
72
8.0
8
0
13824

## Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!

Reference:- https://youtu.be/gktjNyV0xks

Reference document: https://docs.python.org/3/library/math.html
<p style='text-align: right;'> 10 points </p>

In [8]:
#import math
import math

In [9]:
# declare a variable x = 2 and y=5.32167
x=2
y=5.32167

In [12]:
# Print the maximum value between x and y
print(max(x,y))

5.32167

In [13]:
# Print the minimum value between x and y
print(min(x,y))

2

In [14]:
# Print square and cube of x and store in a and b variable
a=pow(x,2)
b=pow(x,3)
print('a={},b={}'.format(a,b))

a=4,b=8

In [15]:
#print log of x and store it in variable c
c=math.log(x)
print(c)

0.6931471805599453

In [ ]:
#print minimum value between x,y,a, b and c

0.6931471805599453

In [16]:
#print maximum value between x,y,a, b and c
print(max(a,b,c,x,y))

8

In [17]:
#print the largest integer that is smaller than or equal to c. ie.round down
print(min(a,b,c,x,y))

0.6931471805599453

In [18]:
#print the smallest integer that is greater than or equal to c ie. round up
print(math.ceil(c))

1

## Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [19]:
# declare two variables, a = True, b = False
a =True
b=False
print(a,b)

True False

In [20]:
# print type of a and type of b
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [21]:
# print int(a) and int(b)
print(int(a))
print(int(b))

1
0

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [22]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
print(not a)
print(a and b)
print(a or b)
print(a and not b)

False
False
True
True

We hope you tried to undertand the above output!

## List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [23]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.
my_list=[*range(1,20,1)]
print(my_list)
mylist=[]
mylist.extend(range(1,20,1))
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

my_list=[*range(2,20,2)]
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [25]:
fruits =['apple', 'kiwi', 'orange']
len_fruits = len[fruits]
print(fruits)
print(len_fruits)

TypeError: ignored

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings


Reference:- https://www.programiz.com/python-programming/string

Reference:-  https://youtu.be/LnQDWIMaJlA

In [26]:
# declare the variables x = cat and y = dog and print it
x='cat'
y='dog'

print(x)
print(y)

cat
dog

In [27]:
#Print first character of both x and y. 
print(x[0])
print(y[0])

c
d

In [28]:
#Print last character of both x and y.
print(x[-1])
print(y[-1])

t
g

In [30]:
#Print len of both x and y
print(len(x))
print(len(y))

3
3

In [29]:
#concatenate both x and y and store it in variable z and print z
z=x+y
print(z)

catdog

In [31]:
#check if x is part of z 
print(x in z)

True

### String slicing



Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!
<p style='text-align: right;'> 2 points </p>

In [32]:
#Create variable a = “pineapple”
a = 'pineapple'
print(a)

pineapple

In [33]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[:4])
print(a[4:])

pine
apple

In [34]:
#Convert a into upper case
print(a.upper())

PINEAPPLE

## Dealing with Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [35]:
# Declare a sentence of ‘I am flying to London’ and print it
print('i am flying to london')

i am flying to london

In [36]:
#Print length of the sentence
print(len('i am flying to london'))

21

In [37]:
#Using list indexing, to print the word London
c='i am flying to london'
print(c[15:])

london

In [41]:
# Use .split to get list of individual words in the sentence
print(c.split())

['i', 'am', 'flying', 'to', 'london']

In [42]:
# Convert sentence in lower case 
print(c.lower())

i am flying to london

In [43]:
# Convert sentence in upper case .
print(c.upper())

I AM FLYING TO LONDON

Great job! Slicing is fun.

## Functions

Declare a function named square, which takes an input as x, and returns the square of x.

Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [44]:
def square(x):
  print(pow(x,2))

square(9)

81

Call the function to find the value of square of 9.

In [45]:
# find the square of 9 using the function square you have just created.
square(9)

81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [46]:
# your code here
def oddeven(x):
  if(x%2==0):
    
    print('even')
  else: print('odd')
oddeven(3)

odd

Hey smarty! lets use both the functions together to check whether the square of 3,6 and 21 are odd or even.

In [49]:
 # your code here
def combined(x):
   print(pow(x,2))
   if (x%2==0):
    
    print('even')
   else: print('odd')
combined(3)
combined(6)

9
odd
36
even

hey hey! You did a great code. Did you see the benefit of using functions

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [51]:
#Declare a variable x equal to a number of your choice.
#your code here

x=3
if(x>0):
  print('positive')
elif (x<0):
  print('negative')
else:
  print('zero')

positive

In [52]:
#Using an if statement, print whether x is zero, positive or negative.
if(x>0):
  print('positive')
elif (x<0):
  print('negative')
else:
  print('zero')

positive

In [ ]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.


check_num(10)
check_num(-2)
check_num(0)

10 is positive
-2 is negative
0 if zero

## For loop

<p style='text-align: right;'> 2 points </p>

In [13]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
x=['india','israel','canada']

In [14]:
#Using For loop, iterate over the list and print the elements.
for i in x:
  print(i)

india
israel
canada

<p style='text-align: right;'> 2 points </p>

In [16]:
# Using For loop, print the table of 2.
for i in range(2,11):
  print(2*i)

4
6
8
10
12
14
16
18
20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [38]:
#code here
x = [21, 'hello','cream', 20,19,'village']
for i in x:
  if isinstance(x,int):
    print(x)

Using For loop, lets create a pattern.

<p style='text-align: right;'> 10 points </p>

In [44]:
# print the following pattern
for i in range(0,5):
  for j in range(0,i):
    print('*',end="")
    
  print('\n')

*

**

***

****

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [47]:
def counte1r(n):
  i=1
  while i<n:
    print(i)
    i+=1
counte1r(10)

1
2
3
4
5
6
7
8
9

In [ ]:
counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [50]:
# your code here
flag=True
num=5
while (flag==True):
  print(num)
  num+=5
  
  if(num>50):
    flag=False

5
10
15
20
25
30
35
40
45
50

# Intermediate programming questions

<p style='text-align: right;'> 160 points </p>

References: https://youtu.be/HGOBQPFzWKo

Add-on reference: https://youtu.be/8DvywoWv6fI

Lets remove duplicates from list names=['A','B','C','A','D','E','F','G','H','E','D']

In [73]:
#code here
lm=['A','B','C','A','D','E','F','G','H','E','D']
rs=[]
i=0
ctr=0
for i in lm:
  if i not in rs:
    rs.append(i)

print ("The list after removing duplicates : " + str(rs))

The list after removing duplicates : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

Good! Shall we try solving above problem in shhorter way using list comprehention? It will be amazing. Here we go!

In [74]:
lm=['A','B','C','A','D','E','F','G','H','E','D']
res = []
[res.append(x) for x in lm if x not in res]
  
# printing list after removal 
print ("The list after removing duplicates : " + str(res))

The list after removing duplicates : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

define a funtion 'occurence' which takes 2 inputs, one list 'lst' and another one a number 'n' and count the number of occurrences of n in your list lst.

In [78]:
#your code
lmm=[2,3,4,8,1,3,5,2,1,3,1,2,2]
n=2
i=0
ctr=0
for i in range(len(lmm)):
  if(n==lmm[i]):
    ctr+=1
  i+=1
print(ctr)

4

Calculate factorial of a number ( Here number=3) using while loop

In [87]:
number = 3

f=1
i=1
#your code here
while i<=(n+1):
  f=f*i
  
  i+=1
print(f)

6

Reverse a given integer number num = 47594038222 and display the count of total number of digits in your revered number using while loop.

In [95]:
# Your code here
num = 47594038222 
x=0
while (num>0):
  x=(x*10)+(num%10)
  num=num//10
print(x)

22283049574

Can you reverse you given num without using loop in just one line?

Hint: apply some slicing trick to do it.

In [4]:
num = 47594038222
print(str(num)[: :-1])

#one line code here

22283049574

Write a function that checks whether a given sequence of number is IP address or not and print all valid possible IP from a given digit. If not an IP then it prints empty list

In [ ]:
#code goes here

 
    

# Check your code with below numbers    
A = "25525511135"
B = "25505011536"
 
print(convert(A))
print(convert(B))

['255.255.11.135', '255.255.111.35']
[]

Solve the quadratic equation ax**2 + bx + c = 0 where a =4, b=6, c=2

In [9]:
# code here
import math
a=4
b=6
c=2


r1=(-b+math.sqrt(pow(b,2)-(4*a*c)))//(2*a)
print(r1)
r2=(-b-math.sqrt(pow(b,2)-(4*a*c)))//(2*a)
print(r2)

-1.0
-1.0

Write a program to Remove Punctuations From a String 

    s="Wow!!!, we are going ahead with our course to learn *machine learning* ---are'nt you excited? :)"

In [10]:
#code here
punctuation= '''!()-[]{};:'"\, <>./?@#$%^&*_~'''
newstr=""
mstr="Wow!!!, we are going ahead with our course to learn *machine learning* ---are'nt you excited? :)"
for i in mstr:
  if i not in punctuation:
    newstr=newstr+i
print(newstr)

Wowwearegoingaheadwithourcoursetolearnmachinelearningarentyouexcited

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

Note: i=0,1.., X-1; j=0,1,i^Y-1.

In [7]:
digit1=3
digit2=4
i=0
j=0
x=[[0 for col in range(digit1)] for row in range(digit2)]
for i in range(digit1):
  for j in range(digit2):
    x.append(i*j)
print(x)



#code here

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], 0, 0, 0, 0, 0, 1, 2, 3, 0, 2, 4, 6]

Write a function 'solve_coin_change' which takes list of denominations and amount and checks number of ways you can make change with coins and a total amount.

Note: You have unlimited amount of mentioned denominations

![image-2.png](attachment:image-2.png)

In [ ]:
#code here



# Checking your code
print(solve_coin_change([1, 5, 10],20))
print(solve_coin_change([1, 2, 5],7))

9
6

For given string S and integers P and Q, which denotes the cost of removal of substrings “he” and “lo” respectively from S, the task is to find the maximum cost of removing all occurrences of substrings “he” and “lo”.

example if S = “hellohellohellohellohello”, P = 6, Q = 4, then cost to remove 'he' and 'lo' is 50

In [ ]:
#code here
 
# Check code with 

S = "hellohellohellohellohello"

# Costs
P = 6;
Q = 4;

50

Given a binary string S , the task is to find the smallest string possible by removing all occurrences of substrings “01” and “11”. After removal of any substring, concatenate the remaining parts of the string.

Example
    
    Input: S = “0010110”
    Output: String = 0
    
    Explanation: String can be transformed by the following steps: 
    0010110 → 00110 → 010 → 0. 
    Since no occurrence of substrings 01 and 11 are remaining, the string “0” is of minimum possible length 1.

In [ ]:
#write your function to get desired output

The final string is: 0
The final string size is: 1

Write a function such that it accepts two integers n, m as arguments Find the sum of all numbers in range from 1 to m(both inclusive) that are not divisible by n. Return difference between sum of integers not divisible by n with sum of numbers divisible by n

Example

    Input
    n:4
    m:20
    Output
    90

In [11]:
#code here
def count(n,m):
  sum1=0
  sum2=0
  diff=0
  for i in range(1,m):
    for j in range(1,n):
      if(i%j==0):
        sum1=sum1+i
      else:
        sum2=sum2+i
  diff=sum1-sum2
  print(sum1)
  print(sum2)
  print(diff)
count(3,20)
# Check code with Input:
n:3
m:20

280
100
180

Write a function count_code that return the number of times that the string "code" appears anywhere in the given string, except we'll accept any letter for the 'd', so "cope" and "cooe" count.


    count_code('aaacodebbb') → 1
    count_code('codexxcode') → 2
    count_code('cozexxcope') → 2

In [55]:
#your code here 
def count_code(x):
  ctr=0
  xx="code"
 
  for i in range(len(x)):
    if (x[i:i+2]=="co" and x[i + 3] == 'e'):
      ctr+=1
    i+=1
  return ctr




#check your code 
print(count_code('aaacodebbb'))
print(count_code('codexxcode'))
print(count_code('cozexxcope'))

1
2
2

Lets have one moderate level question for you. 

Find the sum of the series 4 +44 + 444 + 4444 + .. n terms

here keep n=5

In [63]:
#your code here
i=1
n=2
sum=0
x=0
for i in range(1,n+1):
      sum=(sum*10)+4
      
      x=x+sum
      i+=1
print(x)

48

Awsesome! Great job so far. Hope you fell in love with python now.

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# Its Feedback Time!

We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
 https://zfrmz.in/MtRG5oWXBdesm6rmSM7N
 
-------------------------------------